* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #7dc4cb;
  }
.Navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.nav-list li {
    float: left;
}
  
.nav-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.nav-list li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #04AA6D;
}

.header {
    background-color: #e35156;
    text-align: center;
    padding: 20px;
}
.header2 {
    text-align: center;
    padding: 10px;
}
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}

/* .column.side {
    float: left;
    width: 25%;
}

.column.middle {
    float: inline-start;
    width: 50%;
    background-color: rgb(118, 190, 213);
} */

.row:after {
    content: "";
    display: table;
    clear: both;
}