* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #d74242;
  }
.Navigation ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}
  
.nav-list li {
    float: left;
}
  
.nav-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.nav-list li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #04AA6D;
}

.header {
    background-color: #281a70;
    text-align: center;
    padding: 25px;
}
.header2 {
    text-align: center;
    padding: 10px;
}
.column {
    float: left;
    padding: 15px;
}
  
.column.side {
    width: 25%;
}

.column.middle {
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }